body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
form {
  display: block;
  margin-top: 0em;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.button-view-detail{
  padding: 10px;
}
.button-view-detail:hover{
    background-color: #2a1a95;
    color: white;
    border-radius: 10px;
}
button, input {
  overflow: visible;
}
label {
  display: inline-block;
}
.text-center{
  text-align: center;
}
*,::after, ::before {
  box-sizing: border-box;
}
.address-text{
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 0px;
}
.address-text img{
  width: 40px;
  margin-top: -5px;
  position: absolute;
}
.address-text span{
  margin-left: 35px;
  font-size: 14pt;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.box-main{
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-login {
  margin-top: 5%;
  width: 350px;
  height: auto;
  border: solid 3px #3f51b5;
  border-radius: 2%;
  background-color: #ffffff;
}
.box-login form{
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.box-login-logo{
  text-align: center;
}
.box-login-logo img{
  border-radius: 50%;
  width: 180px;
  border: solid 5px #3f51b5;
}

.login-logo{
  width: 85px;
  border-radius: 50%;
  padding: 10px;
}
.header-title{
  text-align: center;
  color: white;
  font-size: 12pt;
}
.header-title a{
  color: white;
  font-size: 12pt;
  text-decoration: none;
}
.header-title a:hover{
  color: rgb(28, 230, 226);
}
.logout-text{
  color: white;
  text-align: center;
  font-size: 10pt;
}
.logout-text a{
  color: white;
}
.logout-text a:hover{
  color: #35dcf1;
}
.logout-text img{
  width: 20px;
  margin-left: -22px;
    margin-top: 0px;
    position: absolute;
}
.lang-text{
  cursor: pointer;
  color: white;
}
.lang-text:hover{
  color: #35dcf1;
}
.lang-text.active{
  color: #35dcf1;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover{
  color: #fff;
  background-color: #b11338;
  border-color: #007bff;
}
.form-group {
  margin-bottom: 1rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.box-adrress-item{
  background-color: #99e2eb;
  width: 50%;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
}
.box-adrress-item .title{
    color: black;
    text-align: center;
}

.progress-center {
  text-align: center!important;
}
.progress-green, .progress-hover-green:hover {
  color: #fff!important;
  background-color: #4CAF50!important;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.progress-red, .progress-hover-red:hover {
  color: #fff!important;
  background-color: #f44336!important;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.progress-blue, .progress-hover-blue:hover {
  color: #fff!important;
  background-color: #2196F3!important;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.progress-light-grey, .progress-hover-light-grey:hover, .progress-light-gray, .progress-hover-light-gray:hover {
  color: #000!important;
  background-color: #ffffff!important;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.main-detail{
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}
.header{
  position: fixed;
  width: 100%;
  background-color: #2a1a95;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 100000;
}
.header-left{
  flex: 2;
}
.header-center {
  flex: 4;
}
.header-right {
  flex: 2;
}
.sidebar {
  top: 80px;
    margin: 5px;
    padding: 5px;
    width: 300px;
    background-color: #ffffff;
    position: fixed;
    height: 100vh;
    overflow: auto;
    border: solid 3px #dcdcea;
    border-radius: 3px;
}

.scrollmenu a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  border: solid 1px #342b2b;
  margin: 5px;
  border-radius: 10px;
  background-color: #99e2eb;
  cursor: pointer;
}
 
.scrollmenu a.active {
  background-color: #134765;
  color: white;
}

.scrollmenu a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}
.content {
  top: 80px;
  margin-left: 300px;
  padding: 1px 16px;
  height: auto;
}
.container{
  margin-top: 100px;
}
.row {margin: 0 -5px;}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 15px;
  background-color: #8ff2ff;
  border-radius: 10px;
}
.float-left{
  float: right;
}
.float-right{
  float: right;
}
.prev{
  width: 30px;
  cursor: pointer;
}
.table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.chlorine {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.chlorine td, .chlorine th {
  border: 2px solid #f4e5e5;
  padding: 8px;
  background-color: #35dcf1;
}
.__loader{color:#fff;position:fixed;box-sizing:border-box;left:-9999px;top:-9999px;width:0;height:0;overflow:hidden;z-index:999999}.__loader:after,.__loader:before{box-sizing:border-box;display:none}.__loader.is-active{background-color:rgba(0,0,0,.55);width:100%;height:100%;left:0;top:0}.__loader.is-active:after,.__loader.is-active:before{display:block}@keyframes rotation{0%{transform:rotate(0)}to{transform:rotate(359deg)}}@keyframes blink{0%{opacity:.5}to{opacity:1}}.__loader[data-text]:before{position:fixed;left:0;top:50%;color:currentColor;font-family:Helvetica,Arial,sans-serif;text-align:center;width:100%;font-size:14px}.__loader[data-text=""]:before{content:""}.__loader[data-text]:not([data-text=""]):before{content:attr(data-text)}.__loader[data-text][data-blink]:before{animation:blink 1s linear infinite alternate}.__loader-default[data-text]:before{top:calc(50% - 63px)}.__loader-default:after{content:"";position:fixed;width:48px;height:48px;border:8px solid #fff;border-left-color:transparent;border-radius:50%;top:calc(50% - 24px);left:calc(50% - 24px);animation:rotation 1s linear infinite}.__loader-default[data-half]:after{border-right-color:transparent}.__loader-default[data-inverse]:after{animation-direction:reverse}

.__loader {
    color: #fff;
    position: fixed;
    box-sizing: border-box;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: 999999;
}
.__loader.is-active {
    background-color: rgba(0,0,0,.55);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.chlorine tr:nth-child(even){background-color: #f2f2f2;}

.chlorine tr:hover {background-color: #ddd;}

.chlorine th {
  padding-top: 11px;
  padding-bottom: 10px;
  background-color: #2a1a95;
  color: white;

}
@media screen and (max-width: 1280px){
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 1000px){
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .sidebar {
    top: 80px;;
    width: 100%;
    height: auto;
    position: relative;
    margin:  unset;
    padding: unset;
    border: unset;
    border-radius:unset;
    overflow: auto;
    white-space: nowrap;
    position: fixed;
    z-index: 100000;
  }
  .scrollmenu a {
    border: unset;
    margin: unset;
    border-radius:unset;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    cursor: pointer;
    margin: 1px;
  }
  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  .content {
    margin-left: 0;
  }
  .container{
    margin-top: 160px;
  }
}
@media only screen and (max-width: 480px) and (min-width: 320px) and (min-width: 600px){
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .header-title a {
    font-size: 10pt;
}
  .sidebar {
    top:unset;
    width: 100%;
    height: auto;
    position: relative;
    margin:  unset;
    padding: unset;
    border: unset;
    border-radius:unset;
    overflow: auto;
    white-space: nowrap;
    position: fixed;
    z-index: 100000;
  }
  .scrollmenu a {
    border: unset;
    margin: unset;
    border-radius:unset;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    cursor: pointer;
    margin: 1px;
  }
  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  .content {
    margin-left: 0;
  }
  .header-right {
    flex: unset;
  } 
  .container{
    margin-top: 160px;
  }
}
